.wishlist__card {
  --tw-shadow: 0 1px 3px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 1px 2px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  color: var(--card-foreground);
  background-color: var(--card);
  border-style: var(--tw-border-style);
  border-width: 1px;
  border-radius: var(--radius);

  display: flex;
  flex-direction: column;

  .wishlist__card-banner {
    height: 66%;
    background-color: var(--secondary);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 48px;
      height: 48px;
      display: block;
    }
  }

  .wishlist__card-content {
    padding: 1rem;

    display: flex;
    justify-content: space-between;
  }
}

.test {
  background-color: red;
}
