section {
  height: calc(100vh - 6rem);
  padding: 15% 0;
}

.hero-banner {
  h1 {
    font-size: 2.5rem;
  }

  p {
    margin: 2rem auto 2rem 0;
    width: 50%;
  }
}

.logo {
  font-family: "Gloria Hallelujah", cursive;
  font-style: bold;
  margin: 0
}

.input-gpe {
  height: 2.5rem;
  border: 1px solid #000;

  &:focus {
    outline: none !important;
    box-shadow: -1px 1px 1px #00000000;
  }
}

.button-gpe:active {
  scale: 100%;
  font-size: 0.85rem;
}
