<section>
  <app-container>
    <div class="hero-banner">
      <div>
        <h1>Faite de vos <span class="logo">Ouishe</span> une réalité</h1>
        <p>Partagez subtilement vos envies et aidez vos proches à devenir les héros de votre prochaine fête. Plus de "merci, il fallait pas..." gênés, que de la joie !</p>
        <app-button [type]=creerButtonType [link]="'/login'">Créer</app-button>
        <span>OU</span>
        <app-button>-> accéder à une ouishe-liste</app-button>
      </div>
      <img
      ngSrc="assets/undraw_wishes.svg"
      alt="Hero banner"
      width="500"
      height="400" />
    </div>
  </app-container>

</section>
