<section>
  <app-container>
    <div class="hero-banner">
      <div>
        <h1>Faite de vos <span class="logo">Ouishe</span> une réalité</h1>
        <p>Partagez subtilement vos envies et aidez vos proches à devenir les héros de votre prochaine fête. Plus de "merci, il fallait pas..." gênés, que de la joie !</p>
        <div class="flex items-center">
          <app-button [type]=creerButtonType [link]="'/login'" size="lg">Créer</app-button>
          <span class="mx-4">OU</span>
          <z-button-group>
            <input z-input class="input-gpe" placeholder="_ _ _ _ _ _" />
            <button z-button class="button-gpe" zSize="lg">Chercher</button>
          </z-button-group>
        </div>
      </div>
    </div>
  </app-container>
</section>
