section {
  margin: 3rem 0;
}

.hero-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    padding-right: 8rem;
    margin-bottom: 2rem;
  }
}

.logo {
  font-family: "Gloria Hallelujah", cursive;
  font-style: bold;
  margin: 0
}
