
:host {
  --container-padding: 12rem;
  --container-bg-color: #ffffff;
  --container-text-color: #1a202c; /* Couleur de texte par défaut pour le thème sombre */
  --container-border-radius: 12px;
  --container-border: 1px solid #e2e8f0;
  --container-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --container-shadow-hover: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --container-transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  display: block;
  width: 100%;
}

.app-container {
  padding: 0 var(--container-padding);
}

@media (max-width: 1350px) {
  :host {
    --container-padding: 5rem;
  }
}

@media (max-width: 800px) {
  :host {
    --container-padding: 1rem;
  }
}
