.form__field {
  position: relative;
  padding-bottom: 1.5rem;
  margin-bottom: 0.3rem;

  .error-message {
    color: red;
    font-size: 0.6rem;
    font-style: italic;
    margin-top: 0.25rem;
    position: absolute;
    bottom: 0;
  }
}
