@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  position: relative;

  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "BNCE" 0,
    "INFM" 0,
    "SPAC" 0;
}
